@model ControleEstoque.Models.Movimentacao

@{
	ViewData["Title"] = "Entras e saídas de Produtos";
	ViewData["NomeUsuario"] = "Bibia";
	var alerta = ViewBag["Alerta"] as string;
}

@if (!String.IsNullOrEmpty(alerta))
{

	<div class="alert alert-warning" role="alert">
		@alerta
	</div>
}


<h4>@ViewData["Title"]</h4>
@* <h5>@ViewData["NomeUsuario"]</h5> *@

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="ProdutoId" class="control-label"></label>
					<select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"><option>Selecione...</option></select>
				</div>
				<div class="form-group">
					<label asp-for="Quantidade" class="control-label"></label>
					<input asp-for="Quantidade" class="form-control" />
					<span asp-validation-for="Quantidade" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Tipo" class="control-label"></label>
					<select asp-for="Tipo" class="form-control" />
					<option value="">Selecione</option>
					<option value="Entrada">Entrada</option>
					<option value="Saída">Saída</option>
					<span asp-validation-for="Tipo" class="text-danger"></span>
				</div>
				<div class="form-group">

					<input type="hidden" asp-for="DataMovimentacao" class="form-control" />

				</div>
				<div class="form-group">

					<input type="hidden" asp-for="UsuarioId" class="form-control" />

				</div>
				<div class="form-group">
					<label asp-for="Observacao" class="control-label"></label>
					<textarea asp-for="Observacao" class="form-control"></textarea>
					<span asp-validation-for="Observacao" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
