@{
	ViewData["Title"] = "Página Inicial";
}

<div class="container py-5">

	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold">
			<i class="bi bi-list-check">Tarefas</i>
			<p class="lead text-muted">Gerencie suas tarefas de uma forma mais simples</p>
			<a asp-controller="Tarefas" asp-action="Index" class="btn btn-primary btn-lg">Ver minhas tarefas</a>
	</div>
	<div class="row justify-content-evenly">
		<div class="col-3 bg-success">1</div>
		<div class="col-3 bg-danger">2</div>
		<div class="col-3 bg-marning">3</div>


	</div>

</div>
