@{
	ViewData["Title"] = "Sobre mim";
}
<h1>@ViewData["Title"]</h1>
<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i>Sobre mim</h1>


		<div class="card mb-5 mx-auto" style="max-width: 350px;">
			<img src="~/img/ab.img.jpg" />
			<div class="card-body">
				<h5 class="card-title"></h5>
				<p class="card-text">Olá, meu nome é Ana Beatriz,tenho 17 anos,sou estudante do curso técnico DEV (desenvolvimento de sistemas). </p>
				<a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg btn-sm btn-">Voltar a tela incial</a>
				<a href="https://github.com/b1b14?tab=repositories" class="btn btn-info btn-lg btn-sm btn-">GitHub</a>
				<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
			</div>
		</div>

