@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 text-light"><i class="bi bi-person-vcard"></i>Agenda Médica</h1>

	<a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
</div>
