@{
	ViewData["Title"] = "Home Page";
}
<style>
	body {
		background-color: aquamarine;
		color: #343a40;
	}
</style>
<div class="text-center">
	<h1 class="display-4">Interclasse</h1>
	<p>Seja bem-vindo ao site sobre o interclasse.</p>
</div>
