@{


	ViewData["Title"] = "Sobre o interclasse";
}
<img src="~/img/fut.webp" width="100%" height="300" />

<h1>@ViewData["Title"]</h1>
<style>
	body {
		background-color: aquamarine;
		color: #343a40;
	}
</style>

<p>
	O interclasse é um evento esportivo realizado dentro das escolas, que reúne os estudantes para competirem entre si em diversas modalidades esportivas, como futsal, vôlei, basquete, handebol, queimada, entre outros. Ele costuma acontecer anualmente e tem como objetivo promover integração, espírito de equipe e convivência saudável entre os alunos de diferentes turmas.

	Além de ser uma atividade física, o interclasse também contribui para o desenvolvimento social, já que incentiva a união, a cooperação, o respeito e a disciplina. Os alunos têm a chance de representar suas turmas, defendendo suas cores e símbolos, o que fortalece o sentimento de pertencimento ao grupo.

	Outro ponto importante é que o interclasse não se resume apenas à competição. Ele também valoriza a inclusão, permitindo que todos participem de alguma forma, seja jogando, torcendo ou ajudando na organização. Muitas vezes, o evento é acompanhado por apresentações culturais, músicas, danças e atividades recreativas, tornando-se um momento de lazer e integração dentro do ambiente escolar.

	Portanto, o interclasse vai além do esporte: é uma oportunidade de aprendizado, amizade e construção de memórias que marcam a vida escolar dos estudantes.
</p>
