@{
	ViewData["Title"] = "Detalhes de Tarefas";
}

	< h1 > Detalhes da Tarefa</ h1 >
	< p >< b > Id:</ b > @Model.TarefaId </ p >
	< p >< b > Titulo:</ b > @Model.Titulo </ p >
	< p >< b > Descrição:</ b > @Model.Descricao </ p >
	< p >< b > Concluida:</ b > @Model.Concluida </ p >

	< a asp - controller = "Tarefas" asp - action = "Index" class="btn btn-secondary mt-3">Voltar</a> a ? "sim")
</p>